[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
main {
  paddding-top: 30px;
}
.home {
  color: white;
}
a .home {
  text-decoration: none;
}
.home:hover {
  text-decoration: none;
  color: #66a3ff;
}
.title {
  font-size: 5em;
}
.underTitle {
  font-size: 1.8em;
  color: white;
}
.class1 {
  font-family: 'Lobster', cursive;
  background: url("./images/background5.png") no-repeat center center fixed;
  background-size: "cover";
}
.class2 {
  background:  red;
}
.jumbotron {
  opacity: 0.5;
}
.solid {
  opacity: 1 !important;
}
header .navbar {
    border-radius: 0;
}
.showMore {
  display: inline;
}

.show-hide-message.ng-hide-remove {
  -webkit-animation:zoomIn 0.3s both ease;
  -moz-animation:zoomin 0.3s both ease;
  animation:zoomIn 0.3s both ease;
}
.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.create-account {
  text-align: center;
  width: 100%;
  display: block;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}
.spinner {
  -webkit-animation:spin 1s infinite;
  -moz-animation:spin 1s infinite;
  animation:spin 1s infinite;
}
@keyFrames spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyFrames spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-moz-keyFrames spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
#myModal {
  background-color: black;
}
.view {
  position: absolute;
  top: 60px;
  z-index: 1;
}
.view.ng-leave {
    -webkit-animation-name: fadeOutUp;
    -moz-animation-name: fadeOutUp;
    -ms-animation-name: fadeOutUp;
    -o-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.view.ng-enter {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
